@charset "utf-8";
			
			
			
			.front{
					width: 300px;
					margin: 5px 32px 45px 32px;
					background-color: #f0f0f0;	
					color: #666;
					text-align: center;
					padding: 3px;
					border-radius: 5px;
					}
            .booking_area {
            		float: right;
            		position: relative;
            		width:200px;
            		height: 450px; 
            		}
            .booking_area h3 {
            		margin: 5px 5px 0 0;
            		font-size: 16px;
            		}
            .booking_area p{
           			 line-height:26px; 
            		font-size:16px; 
            		color:#999
            		}
            .booking_area p span{
            		color:#666
            		}
            div.seatCharts-cell {
            		color: #C9C9C9;
            		height: 25px;
            		width: 25px;
            		line-height: 25px;
            		margin: 3px;
            		float: left;
            		text-align: center;
            		outline: none;
            		font-size: 13px;
            		border:2px;
            		border-color:black;
            		}
            div.seatCharts-seat {
            color: #fff;
            cursor: pointer;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            }
            div.seatCharts-row {height: 35px;}
            div.seatCharts-seat.available {background-color: #c9c9c9;}
            div.seatCharts-seat.focused {background-color: #adadad;border: none;}
            div.seatCharts-seat.selected {background-color: #15E4B1;}
            div.seatCharts-seat.unavailable {background-color: #893ac0;cursor: not-allowed;}
            div.seatCharts-container {border-right: 1px dotted #adadad;width: 400px;padding: 20px;float: left;}
            div.seatCharts-legend {padding-left: 0px;position: absolute;bottom: 16px;}
            ul.seatCharts-legendList {padding-left: 0px;}
            .seatCharts-legendItem{float:left; width:90px;margin-top: 10px;line-height: 2;}
            span.seatCharts-legendDescription {margin-left: 5px;line-height: 30px;}
            .checkout-button {display: block;width:80px; height:24px; line-height:20px;margin: 10px auto;border:1px solid #999;font-size: 14px; cursor:pointer}
            #seats_chose {max-height: 150px;overflow-y: auto;overflow-x: none;width: 200px;}
            #seats_chose li{
            		float:left; 
            		width:72px; 
            		height:26px; 
            		line-height:26px; 
            		border:1px solid #d3d3d3; 
            		background:#f7f7f7; 
            		margin:6px; 
            		font-size:14px; 
            		text-align:center
            		}
            		#total_price{
            			color:red;
            		}
            
            
            .btn:hover
            {
            	color:#ffffff;
            	transition:0.1s;
            }
            
.nav-tabs
 {
	border-bottom: 0px solid #ddd;
}
.nav nav-tabs
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}



.rb
{
	float:right;
}


.span12 li a 
{
   display: block;
    color: #ffffff;
    text-align: center;
    /* padding: 24px 60px; /*方块*/ */
    text-decoration: none;
    transition:0.25s;
    border-radius:0px 0px 0 0;
}

.span12 li a:hover 
{
    background-color: #ffffff;
    color: #c131e6;
    border-color:tranparent;
}


#white
{
	background-color:#ffffff;
}
            